<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted" >
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Sobre nós:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/gabriel.donada.1/" class="me-4 text-reset">
        <img src="/img/face.png" alt="Facebook" style="width: 2rem;">
      </a>
      <a href="https://www.instagram.com/gabrieldonada/" class="me-4 text-reset">
        <img src="/img/insta.png" alt="instagram" style="width: 2rem;">
      </a>
      <a href="https://www.linkedin.com/in/gabriel-donada-476738187/" class="me-4 text-reset">
        <img src="/img/link.png" alt="linkedin" style="width: 2rem;">
      </a>
      <a href="https://github.com/gabdonada" class="me-4 text-reset">
        <img src="/img/git.png" alt="Github" style="width: 2rem;">
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>Portal Vagas
          </h6>
          <p>
            Desde 2021 conectando empresas a profissionais qualificados de forma simples e rápida.
            Você procura conexões, nós lhe entregamos qualidade.
          </p>
        </div>
        <!-- Grid column -->

        
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Links Úteis
          </h6>
          <p>
            <a href="/candidato/login" class="text-reset">Login</a>
          </p>
          <p>
            <a href="/admin/registrarSugestao" class="text-reset">Seu Feedback</a>
          </p>
          <p>
            <a href="/" class="text-reset">Vagas</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Contatos
          </h6>
          <p>
            <i class="fas fa-envelope me-3"></i>
            gabdonada@hotmail.com
          </p>
          <p><i class="fas fa-phone me-3"></i> + 55 51 99377-0755</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://www.linkedin.com/in/gabriel-donada-476738187/">Gabriel Donada</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->