<div class="card">
    <div class="card-body">
        <h1>{{vaga.titulo}}</h1>
        <hr>
        <small>Data de publicação: {{vaga.data}}</small>
        <hr>
        <p>{{vaga.conteudo}}</p>
    </div>
</div>