<div class="jumbotron">
  <h1 class="display-4">Bem vindo!</h1>

</div>

<hr>

<h2>Encontre Vagas:</h2>

{{#each vagas}}
  <div class="card m-4">
    <div class="card-body">
      <h3>{{nome}}</h3>
      <p>{{area}}</p>      
      <a href="/vaga/{{_id}}"><button class="btn btn-success">Mais Detalhes</button></a>
    </div>
  </div>
{{else}}
  <h4>Não há vagas disponíveis </h4>
{{/each}}