{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h3>Crie a vaga da sua empresa:</h3>
<div class="card">
    <div class="card-body">
        <form action="/empresa/vagas/nova" method="POST">            
            <label for="nome">Titulo: </label><br>
                <input type="text" name="nome" class="form-control"><br>

            <label for="area" >Area:</label>
                <select name="area" id="area" required class="form-control">
                    <option value="Quimica">Quimica</option>
                    <option value="Quimica">TI Desenvolvedor</option>
                    <option value="Quimica">TI Suporte</option>
                    <option value="Quimica">Saude</option>
                    <option value="Quimica">Eletrecista</option>
                </select>
                <br>

            <label for="descricao">Descrição:</label><br>
                <textarea type="text" name="descricao" class="form-control" required></textarea><br>
            
            <label for="beneficios">Beneficios:</label><br>
                <textarea type="text" name="beneficios" class="form-control" required></textarea>
            <button type="submit" class="btn btn-success mt-4">Cadastrar</button>
        </form>
    </div>
</div>