<h1>Lista de vagas da sua empresa:</h1>

<a href=""><button class="btn btn-success">Adicionar Vaga</button></a>

{{#each vagas}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <p>{{descricao}}</p>

            <a href=""><button class="btn btn-success">Editar</button></a>
            <a href=""><button class="btn btn-success">Visualizar Inscritos</button></a>
            <a href=""><button class="btn btn-success">Finalizar Processo</button></a>
        </div>
    </div>
{{else}}
{{/each}}