{{#each erros}}
    <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}

<h3>Crie Seu Curriculo:</h3>
<div class="card">
    <div class="card-body">
        <form action="/candidato/criarCurriculo/novo" method="POST">
                
            <input type="hidden" name="userid" class="form-control" value="{{usuarioid}}">
            
            <label for="Experiencia">Experiência</label><br>
                <textarea type="text" name="experiencia" required class="form-control"></textarea><br>
            <label for="Educacao">Educação</label><br>
                <textarea type="text" name="educacao" required class="form-control"></textarea><br>
            <label for="Certificacao">Certificação</label><br>
                <textarea type="text" name="certificacao" required class="form-control"></textarea><br>
            <label for="Idioma">Idioma</label><br>
                <textarea type="text" name="idioma" required class="form-control"></textarea><br>
            <label for="Habilidades">Habilidades</label><br>
                <textarea type="text" name="habilidades" class="form-control"></textarea><br>
            <label for="Outros">Outros</label><br>
                <textarea type="text" name="outros" class="form-control"></textarea>
            <button type="submit" class="btn btn-success mt-4">Cadastrar</button>
        </form>
    </div>
</div>